<div id="home-background" class="large-10 small-centered columns clearfix">
  <div class="text-center shelter-banner">
    <img src="/shelter_banner1.jpg" style="border-radius: 5px;">
  </div>

  </br>
  <div class="preferences large-8 small-centered columns" style="padding: 10px; padding-top: 5px; border-radius: 5px;">
    <form action="<%= shelters_path %>" method="GET">
      <fieldset class="preferences " style="border-radius: 5px;">
        <legend>Find A Shelter Near You</legend>

          <label>Zip Code:</label>
          <input class="input-field" type="text" name="zip[zipcode]">

          <label>Distance:</label>
          <select name="zip[distance]">
            <option value=""></option>
            <option value=1>1 Mile</option>
            <option value=5>5 Miles</option>
          </select>
          <hr />

        <input class="button-dark-blue button tiny round expand" type="submit" value="Submit">
      </fieldset>
    </form>
  </div>
  </br>

  <div class="small-11 small-centered columns">
    <% @shelters.each do |shelter| %>
      <div class="large-4 medium-6 small-12 columns">
        <div class="text-center shelter-card">
          <% if shelter.url.blank? %>
            <a href="<%= shelter_path(shelter) %>"><img src="/dog5.png" class="dog-thumb"></a>
          <% else %>
            <a href="<%= shelter_path(shelter) %>"><img src="<%= shelter.url %>" class="dog-thumb"></a>
          <% end %>
            <ul>
              <li class="title text-center"><%= shelter.name %></li>
              <li class="title text-center"><%= shelter.address %></li>
              <li class="title text-center"><%= shelter.city %> • <%= shelter.state %> • <%= shelter.zip %></li>
              <li class="title text-center"><%= shelter.phone %></li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
