<% @shelters.each do |shelter| %>
  <article class="shelter-index shelter-card row wide">
    <div class="large-6 columns">
      <div class="row">
        <div class="shelter-card-image small-8 small-centered large-uncentered columns">
          <% if shelter.url.blank? %>
            <a href="<%= shelter_path(shelter) %>"><img src="/default.jpg"></a>
          <% else %>
            <a href="<%= shelter_path(shelter) %>"><img src="<%= shelter.url %>"></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="large-6 columns" id="shelter-info">
      <h3><%= link_to shelter.name, shelter_path(shelter) %></h3>
      <h6><%= shelter.address %></h6>
      <h6><%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %></h6>
      <h6><%= shelter.phone %></h6>
      <h6><%= shelter.website %></h6>
    </div>
  </article>
<% end %>
