<div id="home-background" class="large-10 small-centered columns clearfix">
<div class="text-center shelter-banner">
  <img src="/shelter_banner1.jpg">
</div>

</br>
<div class="small-11 small-centered columns">
  <% @shelters.each do |shelter| %>
    <div class="large-4 medium-6 small-11 columns">
      <div class="text-center shelter-card">
        <% if shelter.url.blank? %>
          <a href="<%= shelter_path(shelter) %>"><img src="/dog5.png" class="dog-thumb"></a>
        <% else %>
          <a href="<%= shelter_path(shelter) %>"><img src="<%= shelter.url %>" class="dog-thumb"></a>
        <% end %>
          <ul>
            <li class="title text-center"><%= shelter.name %></li>
            <li class="title text-center"><%= shelter.address %></li>
            <li class="title text-center"><%= shelter.city %> • <%= shelter.state %> • <%= shelter.zip %></li>
            <li class="title text-center"><%= shelter.phone %></li>
          </ul>
      </div>
    </div>
  <% end %>
</div>
</div>
