<h1><%= @shelter.name %></h1>
<img src="<%= @shelter.url %>" width="300px">
</br>
<div class="panel large-6 small-12 columns">
  <h5><%= @shelter.address %></h5>
  <h5><%= @shelter.city %></h5>
  <h5><%= @shelter.state %></h5>
  <h5><%= @shelter.zip %></h5>
  <h5><%= @shelter.phone %></h5>
  <h5><%= @shelter.website %></h5>
  <h5><%= @shelter.email %></h5>
</div>
