<h1><%= @shelter.name %></h1>
<img src="<%= @shelter.url %>" width="300px">
</br>
<div class="panel large-6 small-12 columns">
  <h5><%= @shelter.address %></h5>
  <h5><%= @shelter.city %></h5>
  <h5><%= @shelter.state %></h5>
  <h5><%= @shelter.zip %></h5>
  <h5><%= @shelter.phone %></h5>
  <h5><%= @shelter.website %></h5>
  <h5><%= @shelter.email %></h5>
</div>

<% unless @dogs.nil? %>
  <table>
    <th>Name</th>
    <th>Breed</th>
    <th>Size</th>
    <th>Kids</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Fixed</th>
    <% @dogs.each do |dog| %>
    <tr>
      <td><%= link_to dog.name, dog_path(dog) %></td>
      <td><%= dog.breed %></td>
      <td><%= dog.size %></td>
      <td><%= dog.kids %></td>
      <td><%= dog.age.to_f %></td>
      <td><%= dog.gender %></td>
      <td><%= dog.fixed %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @shelter.user_id == current_user.id %>
  <%= link_to 'Add A Dog', new_shelter_dog_path(@shelter) %>
  <%= link_to 'Edit Shelter', edit_shelter_path(@shelter) %>
  <%= link_to "Delete Shelter", @shelter, data: { confirm: "Are you sure?" }, method: :delete %>
<% end %>
