<div class="small-11 small-centered columns">
  <% @dogs.each do |dog| %>
    <div class="large-4 medium-6 small-11 columns">
      <div class="text-center dog-card">
        <% if dog.url.blank? %>
          <a href="<%= dog_path(dog) %>"><img src="/default_dog.jpg" class="dog-thumb"></a>
        <% else %>
          <a href="<%= dog_path(dog) %>"><img src="<%= dog.url %>" class="dog-thumb"></a>
        <% end %>
          <ul>
            <li class="title text-center"><%= dog.name %></li>
            <li class="title text-center"><%= dog.breed %></li>
          </ul>
      </div>
    </div>
  <% end %>
</div>
