<h3>Results</h3>
<table>
  <th>Name</th>
  <th>Breed</th>
  <th>Size</th>
  <th>Kids</th>
  <th>Age</th>
  <th>Gender</th>
  <th>Fixed</th>
  <th>Shelter</th>
<% @dogs.each do |dog| %>
<tr>
  <td><%= link_to dog.name, dog_path(dog.id) %></td>
  <td><%= dog.breed %></td>
  <td><%= dog.size %></td>
  <td><%= dog.kids %></td>
  <td><%= dog.age.to_f %></td>
  <td><%= dog.gender %></td>
  <td><%= dog.fixed %></td>
  <td><%= link_to dog.shelter.name, shelter_path(dog.shelter) %></td>
</tr>
<% end %>
