<div  id="home-background" class="large-10 small-centered columns">
<div class="row">
  <div class="preferences large-6 small-12 large-uncentered small-centered columns">
    <form action="<%= dogs_path %>" method="GET">
      <fieldset>
        <legend>Find the Perfect Pet</legend>
          <label>Breed:</label>
          <select name="dog[breed]">
              <option value=""></option>
            <%= Dog::BREEDS.each do |breed| %>
              <option value="<%= breed %>"><%= breed %></option>
            <% end %>
          </select>
          <hr />
          <label>Size:</label>
          <select name="dog[size]">
            <option value=""></option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>
          <hr />
            <label>Kids:</label>
            <input type="radio" name="dog[kids]" id="kidtest" value=true>True
            <input type="radio" name="dog[kids]" value=false>False
          <hr />
          <label>Max Age:</label>
          <input type="text" name="dog[age]">
          <label>Gender:</label>
          <input type="radio" name="dog[gender]" id="sextest" value="male">Male
          <input type="radio" name="dog[gender]" value="female">Female
          <hr />
          <label>Fixed:</label>
          <input type="radio" name="dog[fixed]" id="fixedtest" value=true>True
          <input type="radio" name="dog[fixed]" value=false>False
        </br>
        <input class="button-dark-blue button tiny round expand" type="submit" value="Submit">
      </fieldset>
    </form>
  </div>
  <div class="right large-5 large-uncentered small-centered columns">
  <div class="new-shelter-image">
    <img src="/doghug.jpg" class="panel large-12 columns" style="margin-bottom: 0">
    <hr />
  </div>
  <div class="row">
    <div class="quote-box panel text-center">
      <% unless @quote.nil? %>
        <%= @quote.body %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
