<div class="dog-box row small-centered columns">
  <div class="left large-6 medium-11 small-centered columns">
    <div class="large-12 medium-11 small-centered columns">
      <% if @dog.url.blank? %>
        <img src="/default_dog.jpg" class="dog-image large-uncentered small-centered columns">
      <% else %>
        <img src="<%= @dog.url %>" class="dog-image small-centered columns">
      <% end %>
    </div>
  </div>
  <div class="right large-6 medium-11" id="dog-info">
    <p>
    <h3 class="maintitle"><%= @dog.name %></h3>
    <h6 class="dtitle">Breed: <%= @dog.breed %></h6>
    <h6 class="dtitle">Size: <%= @dog.size %></h6>
    <h6 class="dtitle">Good with kids: <%= @dog.kids %></h6>
    <h6 class="dtitle">Age: <%= @dog.age.to_f %></h6>
    <h6 class="dtitle">Gender: <%= @dog.gender %></h6>
    <h6 class="dtitle">Fixed: <%= @dog.fixed %></h6>
    </p>
    <h6 class="dtitle"><%= link_to @dog.shelter.name, shelter_path(@dog.shelter) %></h6>
    <% if current_user == @dog.shelter.user %>
      <%= link_to "Edit", edit_dog_path(@dog), class: "button-blue button tiny round" %>
      <%= link_to 'Remove', @dog, method: :delete, class: "button-blue button tiny round" %>
    <% end %>
  </div>
</div>
