<div class="large-10 small-12 small-centered columns preferences">
  <div class="account-settings">
    <%= form_for(@user, url: registration_path(@user), html: { method: :put }, class: "settings-form") do |f| %>
      <fieldset>
        <legend>Account Settings</legend>

        <div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :username %>
            </br>
              <%= f.text_field :username %>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>
        </div>

        <div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password, "Current Password to Confirm Changes" %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <div class="right large-4 medium-8 small-12 columns">
            <%= link_to "Back", :back, class: "shelter-button small round button" %>
            <%= f.submit "Update", class: "small round button" %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="cancel-account">
    <p>
      <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert tiny round" %>
    </p>
  </div>
</div>

<% @shelters.each do |shelter| %>
  <article class="shelter-card row wide">
    <div class="large-6 columns">
      <div class="row">
        <div class="shelter-card-image small-8 small-centered large-uncentered columns">
          <% if shelter.url.blank? %>
            <img src="/default.jpg">
          <% else %>
            <img src="<%= shelter.url %>">
          <% end %>
        </div>
      </div>
    </div>
    <div class="large-6 columns" id="shelter-info">
      <h3><%= link_to shelter.name, shelter_path(shelter) %></h3>
      <h6><%= shelter.address %></h6>
      <h6><%= shelter.city %>, <%= shelter.state %> <%= shelter.zip %></h6>
      <h6><%= shelter.phone %></h6>
      <h6><%= shelter.website %></h6>
      <% if shelter.user_id == current_user.id %>
        <%= link_to 'Add A Dog', new_shelter_dog_path(shelter), class: "shelter-button button tiny round" %>
        <%= link_to 'Edit Shelter', edit_shelter_path(shelter), class: "shelter-button button tiny round" %>
        <%= link_to "Delete Shelter", shelter, data: { confirm: "Are you sure?" }, method: :delete, class: "shelter-button button tiny round" %>
      <% end %>
    </div>
  </article>
<% end %>
