<div class="large-10 small-12 small-centered columns preferences">
  <div class="account-settings">
    <%= form_for(@user, url: registration_path(@user), html: { method: :put }, class: "settings-form") do |f| %>
      <fieldset>
        <legend>Account Settings</legend>

        <div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :username %>
            </br>
              <%= f.text_field :username %>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>
        </div>

        <div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password, "Current Password to Confirm Changes" %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <div class="right large-4 medium-8 small-12 columns">
            <%= link_to "Back", :back, class: "shelter-button small round button" %>
            <%= f.submit "Update", class: "small round button" %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="cancel-account">
    <p>
      <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert tiny round" %>
    </p>
  </div>
</div>
