<div class="large-10 small-12 small-centered columns preferences">
  <div class="account-settings">
    <%= form_for(@user, url: registration_path(@user), html: { method: :put }, class: "settings-form") do |f| %>
      <fieldset>
        <legend>Account Settings</legend>

        <div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :username %>
            </br>
              <%= f.text_field :username %>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>
        </div>

        <div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password, "Current Password to Confirm Changes" %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <div class="right large-4 medium-8 small-12 columns">
            <%= f.submit "Update", class: "right small round button" %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="cancel-account">
    <p>
      <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert tiny round" %>
    </p>
  </div>
</div>

<div class="small-11 small-centered columns">
  <% @shelters.each do |shelter| %>
    <div class="large-4 medium-6 small-11 columns">
      <div class="text-center shelter-card">
        <% if shelter.url.blank? %>
          <a href="<%= shelter_path(shelter) %>"><img src="/default.jpg" class="dog-thumb"></a>
        <% else %>
          <a href="<%= shelter_path(shelter) %>"><img src="<%= shelter.url %>" class="dog-thumb"></a>
        <% end %>
          <ul>
            <li class="title text-center"><%= shelter.name %></li>
            <li class="title text-center"><%= shelter.address %></li>
            <li class="title text-center"><%= shelter.city %> • <%= shelter.state %> • <%= shelter.zip %></li>
            <li class="title text-center"><%= shelter.phone %></li>
          </ul>
          <% if shelter.user_id == current_user.id %>
            <%= link_to 'Add A Dog', new_shelter_dog_path(shelter), class: "shelter-button button tiny round" %>
            <%= link_to 'Edit Shelter', edit_shelter_path(shelter), class: "shelter-button button tiny round" %>
            <%= link_to "Delete Shelter", shelter, data: { confirm: "Are you sure?" }, method: :delete, class: "shelter-button button tiny round" %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
