<div class="large-6 small-centered columns preferences" style="padding: 10px">
<h2 class="title">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "right button tiny round shelter-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
