<div class="parent2 hide-for-small">
  <% if current_user %>
    <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow" title="Sign Out"><div class="test1"><i class="fa fa-remove fa-2x"></i></div></a>
    <a href="<%= user_path(current_user) %>" title="Profile"><div class="test2"><i class="fa fa-user fa-2x"></i></div></a>
    <a href="<%= shelters_path %>" title="All Shelters"><div class="test3"><i class="fa fa-eye fa-2x"></i></div></a>
    <a href="<%= root_path %>" title="Home"><div class="test4"><i class="fa fa-home fa-2x"></i></div></a>
    <div class="mask2"><i><img src="/paw_logo_white.png" id="menubutton" style="width: 75px; padding-bottom: 25px"></i></div>
  <% else %>
    <a href="<%= new_user_registration_path %>" title="Sign Up"><div class="test3"><i class="fa fa-pencil-square-o fa-2x"></i></div></a>
    <a href="<%= new_user_session_path %>" title="Sign In"><div class="test4"><i class="fa fa-pencil fa-2x"></i></div></a>
    <div class="mask2"><i><img src="/paw_logo_white.png" style="width: 75px; padding-bottom: 25px"></i></div>
  <% end %>
</div>

<div class="fixed show-for-small">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">

      <li class="name">
        <a href="<%= root_path %>"><img src="/paw_logo_white.png" id="logo" width="50px"></a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section bar-links">
      <ul class="left">
        <%- if current_user -%>
          <li><%= link_to "Find", find_a_dog_path %></li>
          <li><%= link_to "Register", new_shelter_path %></li>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to 'All Shelters', shelters_path %></li>
          <li><%= link_to "Back", :back %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Create An Account', new_user_registration_path %></li>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>
</div>
