<!DOCTYPE html>
<html>
<head>
  <title>Iadopt</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="animate.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/highchart.js"></script>
</head>
<body>
  <%- flash.each do |key, value| -%>
    <% if key == 'notice' %>
      <div class="alert-box success radius flash-<%= key %>">
        <%= value %>
      </div>
    <% else %>
      <div class="alert-box alert radius flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  <%- end -%>
  <%= render "layouts/topbar" %>
  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
</body>
</html>
