<!DOCTYPE html>
<html>
<head>
  <title>Iadopt</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYSeuePH-Q0h18HUYP33spE3OCQHfnoi4"></script>
  <script src="/google_map.js"></script>
</head>
<body onload="initialize()">
  <%- flash.each do |key, value| -%>
    <% if key == 'notice' %>
      <div class="alert-box success radius flash-<%= key %>">
        <%= value %>
      </div>
    <% else %>
      <div class="alert-box alert radius flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  <%- end -%>
  <%= render "layouts/topbar" %>
  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
